.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 5% 5% 5% 5%;
    position: relative;
    top:25%;
    margin: 10rem;
    background-color: rgb(0, 0, 0, 0.4);
    border: 2px solid green;
  }
  
  .product-item {
    border: 1px solid green;
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(black, gray, black);
    box-shadow: 0 5px 5px 0 rgb(255, 255, 255, 0.4);
  }
  
  .product-item img {
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 1px white;
    width: 100%;
    max-width: 150px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.4);
  }
  
  .product-item h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #ccc;
  }
  
  .product-item .price {
    font-weight: bold;
  }

  .price{
    background-color: green;
    color: #fff;
    width: 65px;
    border-radius: 20%;
    display: inline-block;
  }
  

