body{
    background-image: linear-gradient(to top, black, rgb(73, 73, 73), black);
    margin: 0;
    width: 100%;
    height: 95vh; 
    padding: 0;
    position: relative;
    

}
/* menu superior inicio */
#menuSuperior{
    display: flex;
    size-adjust: 100%;
    width: 100%;
    height: 9%;
    background-image: linear-gradient(black);
    border-bottom: solid 3px;
    border-image: linear-gradient(to right, green, rgb(8, 255, 8),green )30;
    position: fixed;
  

}

.logoimg{
  position: absolute;
  top: 50%;
  left: 2%; 
  transform: translateY(-50%);
  width: 8%; 
  height: auto;
}


 .button-imageD{ 
    position: absolute;
    top: 50%;
    right: 2%; 
    transform: translateY(-50%);
    width: 1.5%; 
    height: auto; 


}


   /* menu superior fim */

   /* inicio filtros */
#filtros{
    
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    height: 98.3%;
    position: relative;
    

}

#filtroMenu{
    padding-left: 50%;
    position: absolute;
}


   /* filtros fim */
   
   /* footer inicio */

  
   #footer{
    position: fixed;
    bottom: 0;
    background-color: black;
    align-items: center;
    width: 100%;
    height: 7%x;
    border-top: solid 3px;
    border-image: linear-gradient(to right, green, rgb(8, 255, 8),green)30;
}
 /* footer final */
 
   /*contato inicio */
#contatos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgb(0, 255, 0); 
    }

   /* contato fim */

   .button-image {
    width: 90%;
    height: 30px;
    opacity: 0.6;
}

.button-image:hover {
    transform: scale(1.1); 
    opacity: 1;
} 
    
.button-image.enlarge {
    transform: scale(1.1); 
    opacity: 1;
}
