body{
    background-image: linear-gradient(to top, black, rgb(73, 73, 73), black);
    margin: 0;
    width: 100%;
    height: 95vh; 
    padding: 0;
    position: relative;
    

}
/* menu superior inicio */
#menuSuperior{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    size-adjust: 100%;
    height: 55px;
    background-image: linear-gradient(black);
    border-bottom: solid 3px;
    border-image: linear-gradient(to right, rgb(159, 255, 159), rgb(0, 255, 0), rgb(135, 255, 135), rgb(153, 255, 153),  rgb(149, 255, 149), rgb(0, 255, 0) )45%;
    position: relative;
  

}
.logoimg{
    width: 110%;
    height: 65px;
    position: relative;
}

.bi-search{
    color: rgb(0, 255, 0);
    position: relative;
   

}
.bi-list{
    color: rgb(0, 255, 0);
    position: relative;
}
.perquisa{

}
   /* menu superior fim */

   /* inicio filtros */
#filtros{
    
    display: flex;
   flex-direction: column;
    align-items: left;
    width: 100%;
    height: 98.3%;
    position: relative;
    

}

#filtroMenu{
    padding-left: 50%;
    position: absolute;
}


   /* filtros fim */
   
   /* footer inicio */
footer{
    padding: 0;
    background-color: black;
    width: 100%;
    height: 12%;
    position: absolute;
    border-top: solid 3px;
    border-image: linear-gradient(to right, rgb(0, 255, 0), rgb(135, 255, 135), rgb(153, 255, 153), rgb(135, 255, 135), rgb(0, 255, 0), rgb(159, 255, 159))45%;
}

.facebookStatic{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    width: 25%;
    height: 80px;
    position: relative;
    
    
}
   /* footer final */

   /*contato inicio */
#contatos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgb(0, 255, 0); 
    }

   /* contato fim */
